@model IEnumerable<EMS11.Model.ModelView.NewsView>

@{
    ViewBag.Title = "新闻管理";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using EMS11.Common
<h2>新闻管理</h2>

<p>
    @Html.ActionLink("创建新闻", "Create")
</p>
<table class="list">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.n_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.n_title)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.n_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.c_title)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.n_title)
            </td>

            <td>
                @Html.ActionLink("编辑", "Edit", new { id = item.n_id }) |            
            @Html.ActionLink("删除", "Delete", new { id = item.n_id })
            </td>
        </tr>
    }
 

</table>
   @Html.PageBarBulider("Admin", "News", "Index", 10, (int)ViewBag.totalcount)